.profile_img {
  border-radius: 50%;
}

body {
  background-color: #dce775;
}

.angle_symbol {
  font-size: 200px;
  margin: 0px;
  /* color: white; */
  display: inline;
  position: absolute;
  /* text-decoration: underline; */
}

.angle_symbol_1 {
  top: 0;
  right: 10rem;
}
.angle_symbol_2 {
  top: 10rem;
  left: 10rem;
}

.table_list {
    width: 55%;
  display: table;
  margin: 5% auto 0 auto;
}

.education_img{
    border-radius: 50%;
    float: left;
    
}

.education_ul{
    margin-left: 40%;
}
.education_h4{
    margin-left: 40%;
}


/* ul{
    margin-left: 50px;
} */